<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>xccccccccccccc</h1>
            </div>
        </div>
        <div class="list">
          <div class="padding">
	<button class="button button-small button-border icon-left" onclick="loadXpage(mobileurl+'?pid=baskan');"><img src="img/baskanicon.png" class="pull-left" style=""/><div style="margin-top:8px;">Başkan</div></button>
	<button class="button button-small button-border icon-left" onclick="loadXpage(mobileurl+'?pid=belediyemiz');"><img src="img/belediyeicon.png" class="pull-left" style=""/></i><div style="margin-top:9px;margin-bottom:9px;"> Belediyemiz</div></button>
</button>


   <div class="padding">
	<button class="button button-small button-border icon-left" onclick="loadXpage(mobileurl+'?pid=iletisim');"><i class="pull-left glyphicon glyphicon-envelope"  style="font-size:25px"></i> İletişim<br>Bilgileri</button>
	<button class="button button-small button-border icon-left" onclick="loadXpage(mobileurl+'?pid=duyurular');"><i class="pull-left glyphicon glyphicon-list"  style="font-size:25px"></i> Haber ve <br>Duyurular</button>
    
    </div>
    
    
       <div class="padding">

	<button class="button button-small button-border icon-left"  onclick="loadXpage(mobileurl+'?pid=isteksikayet');"><i class="pull-left glyphicon glyphicon-envelope"  style="font-size:25px"></i>İstek ve<br>Şikayetleriniz</button>
	<button class="button button-small button-border icon-left"  onclick="loadXpage(mobileurl+'?pid=imardurumu');"><i class="pull-left glyphicon glyphicon-search" style="font-size:25px"></i>İmar<br>Durumu</button>

</div>

   <div class="padding">
	<button  class="button button-small button-border icon-left"  onclick="loadXpage(mobileurl+'?pid=eczanearama');"><i class="pull-left glyphicon glyphicon-pushpin" style="font-size:25px"></i>Nöbetçi<br>Eczaneler</button>
	<button  class="button button-small button-border icon-left"  onclick="loadXpage(mobileurl+'?pid=adresarama');"><i class="pull-left glyphicon glyphicon-map-marker" style="font-size:25px"></i>Adres<br>Arama</button>
</div>
            
            
            
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Login</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>
